# Tutorial https://sarunw.com/posts/github-actions-for-ios-projects/
# Caching https://sarunw.com/tips/caching-dependencies-in-github-actions/

name: Sreality

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '55 4 * * 1'

jobs:
  build:
    name: Run
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run
        run: usr/local/bin/estates-checker test ${{ secrets.SLACK_WEBHOOK_ESTATES_STOCHOV }}
      
